.section-footer {
    font-family: sans-serif;
    background-color: #000;
    text-align: left;
} 
.footer {
   padding: 0 150px;
   background-color: #000;
}

.foot-block {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 50px 0;
}

.foot-block-item {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.foot-block-item img{
    width: 168px;
    margin-bottom: 30px;
}

.p-margin-10 {
    margin: 10px 0;
    color: #F0EFE9;
}