.section-9 {
    font-family: sans-serif;
    background-color: #F0EFE9;
} 

.news-updates h2{
    font-size: 3.5vw;
  }

.sign-up-container {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
}

.button-subscribe {
    background-color: #F9D783;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    max-height: 3.5vw;
    margin-top: 50px;
}

.mail-input {
    border: none;
    outline: none;
    border-radius: 20px;
    max-height: 3.5vw;
    margin: 50px 10px 0 0;
}

.sign-up-buttons {
    display: flex;
    justify-content: space-around;
}

.news-update-right {
    background-image: url("../images/background-wavy-lines.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 156px;
}

.sign-up-right-side {
    display: flex;
}
